{% load static %}
<!-- About Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Sobre nós</h2>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
          <p>
            Somos a sua fonte de soluções comerciais e fiscais baseada em tecnologia. Contamos com uma equipe de consultores de TI, desenvolvedores de software, analistas de dados e analistas de rede, capazes de fornecer valor aos sistemas de informação da sua empresa. Ajudamos sua empresa a transformar dados em lucro, vinculando a tecnologia a suas metas de negócios. Nossos Pilares:
          </p>
          <ul>
            <li><i class="bi bi-check2-circle"></i> <span>Agilidade</span></li>
            <li><i class="bi bi-check2-circle"></i> <span>Transparência</span></li>
            <li><i class="bi bi-check2-circle"></i> <span>Flexibilidade</span></li>
            <li><i class="bi bi-check2-circle"></i> <span>Tecnologia de ponta</span></li>
            <li><i class="bi bi-check2-circle"></i> <span>Transformação digital</span></li>
          </ul>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <p>Ajudar as empresas a maximizar seu potencial de negócios, projetando, desenvolvendo e instalando sistemas personalizados e soluções tecnológicas que utilize efetivamente a tecnologia da informação como uma vantagem competitiva.</p>
          
        </div>

      </div>

    </div>

  </section><!-- /About Section -->
   