{% load static %}


    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="#hero" class="d-flex align-items-center">
            <span class="sitename">Conecta</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Av. Pau Brasil, 02</p>
            <p>Águas Claras, Brasília - DF</p>
            <p class="mt-3"><strong>Phone:</strong> <span>61 3345-9100</span></p>
            <p><strong>Email:</strong> <span>info@conecta.com</span></p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Links Úteis</h4>
          <ul>
            <li> <a href="#hero">Home</a></li>
            <li> <a href="#about">Sobre nós</a></li>
            <li> <a href="#services">Serviços</a></li>
            <li> <a href="#team">Time</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Nossos Serviços</h4>
          <ul>
            <li> <a href="#">Análise de Dados</a></li>
            <li> <a href="#">Consultoria de TI</a></li>
            <li> <a href="#">Desenvolvimento de Sistemas</a></li>
            <li> <a href="#">Cybersecurity</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12">
          <h4>Reses Sociais</h4>
          {% comment %} <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p> {% endcomment %}
          <div class="social-links d-flex">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Conecta</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        Designed by <a href="#team">Turma ADS 4°Semestre - UNIPLAN, 2025</a>
      </div>
    </div>

