{% load static %}
 <!-- Services Section -->
 <section id="services" class="services section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Serviços</h2>
      <p>Melhores Soluções Para o Seu Negócio</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-activity icon"></i></div>
            <h4><a href="" class="stretched-link">Análise de Dados</a></h4>
            <p>Contamos com os melhores profissionais para análise de dados, garantindo insights precisos e estratégias assertivas.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
            <h4><a href="" class="stretched-link">Consultoria de TI</a></h4>
            <p>Auxiliamos a sua empresa a tormar a melhor decisão referente a tecnologia, propondo soluções inovadoras ao sue negáocio.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
            <h4><a href="" class="stretched-link">Desenvolvimento Sistemas</a></h4>
            <p>Com o desenvolvimento e manutenção de sistemas, seu time de TI, pode focar em criar as experiências que seus clientes desejam, e agregar o valor que seu negócio precisa.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-broadcast icon"></i></div>
            <h4><a href="" class="stretched-link">Cybersecurity</a></h4>
            <p>A verdadeira cibersegurança não é apenas sobre proteger, mas sobre capacitar – com confiança, inovação e resiliência para transformar desafios em oportunidades.</p>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>

  </section><!-- /Services Section -->

  <!-- Work Process Section -->
  <section id="work-process" class="work-process section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Processo de Trabalho</h2>
      <p>Melhores Soluções Para o Seu Negócio</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-5">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="steps-item">
            <div class="steps-image">
              <img src="{% static 'assets/img/steps/steps-1.webp' %}" alt="Step 1" class="img-fluid" loading="lazy">
            </div>
            <div class="steps-content">
              <div class="steps-number">01</div>
              <h3>Análise de Dados</h3>
              
              <div class="steps-features">
                <div class="feature-item">
                  <i class="bi bi-check-circle"></i>
                  <span>IA - Inteligêniga Artificial</span>
                </div>
                <div class="feature-item">
                  <i class="bi bi-check-circle"></i>
                  <span>Big Data Analytics</span>
                </div>
                <div class="feature-item">
                  <i class="bi bi-check-circle"></i>
                  <span>BI - Business Intelligence </span>
                </div>
              </div>
            </div>
          </div><!-- End Steps Item -->
        </div>

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="steps-item">
            <div class="steps-image">
              <img src="{% static 'assets/img/steps/steps-2.webp' %}" alt="Step 2" class="img-fluid" loading="lazy">
            </div>
            <div class="steps-content">
              <div class="steps-number">02</div>
              <h3>Desenvolvimento de Sistemas</h3>
              <div class="steps-features">
                <div class="feature-item">
                  <i class="bi bi-check-circle"></i>
                  <span>Integração de Sistemas</span>
                </div>
                <div class="feature-item">
                  <i class="bi bi-check-circle"></i>
                  <span>UI/UX Design</span>
                </div>
                <div class="feature-item">
                  <i class="bi bi-check-circle"></i>
                  <span>Desenvolvimento Web e Mobile</span>
                </div>
              </div>
            </div>
          </div><!-- End Steps Item -->
        </div>

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
          <div class="steps-item">
            <div class="steps-image">
              <img src="{% static 'assets/img/steps/steps-3.webp' %}" alt="Step 3" class="img-fluid" loading="lazy">
            </div>
            <div class="steps-content">
              <div class="steps-number">03</div>
              <h3>Cybersecurity</h3>
              <div class="steps-features">
                <div class="feature-item">
                  <i class="bi bi-check-circle"></i>
                  <span>Proteção de Dados e Privacidade</span>
                </div>
                <div class="feature-item">
                  <i class="bi bi-check-circle"></i>
                  <span>Segurança em Nuvem</span>
                </div>
                <div class="feature-item">
                  <i class="bi bi-check-circle"></i>
                  <span>IAM - Gestão de Identidade e Acesso</span>
                </div>
              </div>
            </div>
          </div><!-- End Steps Item -->
        </div>

      </div>

    </div>

  </section><!-- /Work Process Section -->