{% load static %}
 <!-- Team Section -->
 <section id="team" class="team section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Time</h2>
      <p>Melhores Soluções Para o Seu Negócio</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img src="{% static 'assets/img/person/person-f-1.webp' %}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Artur Vidal</h4>
              <span>Analista de Dados</span>
              <p>Especialista em IA - Inteligência Artificial</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""> <i class="bi bi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img src="{% static 'assets/img/person/avatar_2.webp' %}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Débora Rodrigues</h4>
              <span>Analista de Projetos</span>
              <p>Especialista em Product Manager</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""> <i class="bi bi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img src="{% static 'assets/img/person/avatar_3.webp' %}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>João Pedro</h4>
              <span>COO da Empresa</span>
              <p>Diretor de Operações</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""> <i class="bi bi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img src="{% static 'assets/img/person/avatar_4.webp' %}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Ryan Pablo</h4>
              <span>Analista de Desempenho</span>
              <p>Especialista em Gerenciamento de Redes</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""> <i class="bi bi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img src="{% static 'assets/img/person/avatar_5.webp' %}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Sergio Leoncio</h4>
              <span>CEO da Empresa</span>
              <p>Diretor Executivo</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""> <i class="bi bi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img src="{% static 'assets/img/person/maysa.webp' %}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Maysa Lemos</h4>
              <span>Analista de Segurança de Redes</span>
              <p>Especialista em CyberSecurity</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""> <i class="bi bi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div><!-- End Team Member -->

      </div>

    </div>

  </section><!-- /Team Section -->